[Unit]
Description=Check pve-config-backup service health and report in case of inactivity


[Timer]
OnUnitActiveSec=5min

[Install]
WantedBy=timers.target
